<h1>Welcome to Tutu!</h1>
<ul>
  <li>
    <%= link_to 'Stations', railway_stations_path %>
  </li>
  <li>
    <%= link_to 'Trains', trains_path %>
  </li>
    <li>
    <%= link_to 'Routes', routes_path %>
  </li>
</ul>
